@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }

  img,
  svg,
  video,
  canvas {
    max-width: 100%;
    height: auto;
  }
}
